<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Veículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let veiculo of veiculos; let i = index">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{veiculo.nome}} 
        </ion-col>
        <ion-col>
          {{veiculo.placa}}
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>
